.papa-noel-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.papa-noel {
  position: absolute;
  width: 350px;
  height: auto;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

@media (max-width: 900px) {
  .papa-noel-container {
    height: 70%;
  }
}

@media (max-width: 480px) {
  .papa-noel-container {
    height: 5%; 
  }
}

